<div class="container-fluid" [ngClass]="{'dark-mode': isDarkMode}">
  <div class="main">
    <div class="title">
      <h1><i class="fas fa-film"></i> Movie Search APP</h1>
    </div>
    <div class="input-group mb-3">
      <input type="text" class="form-control" [(ngModel)]="se" placeholder="🔍 Enter The Movie Name">
      <button class="btn btn-primary" type="button" (click)="search()"><i class="fas fa-search"></i></button>
    </div>
  </div>

  

  <!-- Searched Movies -->
  <div class="row mb-5">
    <div class="movies" *ngIf="searchPerformed">
      <h2 class="title">Searched Movie: {{ se }}</h2>
      <div class="row">
        <div class="col-md-4" *ngFor="let m of movies">
          <div class="card mb-3">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{ m.poster_path }}" alt="{{ m.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ m.title }}</h5>
              <p class="card-text">Release: <strong>{{ m.release_date }}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!searchPerformed && searchTriggered">
      <!-- Display message if search is triggered but no search is performed yet -->
      <p>No search performed yet.</p>
    </div>
  </div>

  <!-- Upcoming Movies Carousel -->
  <div id="movieCarousel" class="carousel slide mb-5 " data-bs-ride="carousel" *ngIf="!se">
    <div class="carousel-inner">
      <h2 class="title">Upcoming Movies Releases</h2>
      <!-- Carousel Items -->
      <!-- Divide upcomingMovies array into chunks of 4 movies -->
      <ng-container *ngFor="let chunk of upcomingMoviesChunks; let i = index">
        <div class="carousel-item" [class.active]="i === 0">
          <div class="row">
            <ng-container *ngFor="let movie of chunk">
              <div class="col-md-3  justify-content-center align-items-center">
                <div class="carousel-overlay">
                  <img class="d-block w-100" src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="{{movie.title}}"
                       (mouseenter)="showOverview[i] = true" (mouseleave)="showOverview[i] = false">
                  <div class="carousel-caption" *ngIf="showOverview[i]">
                    <h5>{{ movie.title }}</h5>
                    <p>Release Date: {{ movie.release_date }}</p>
                    <p>{{ movie.overview }}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Trending Movies Carousel -->
  <div id="movieCarousel2" class="carousel slide mb-5 " data-bs-ride="carousel" *ngIf="!se">
    <div class="carousel-inner">
      <h2 class="title">Trending Movies </h2>
      <!-- Carousel Items -->
      <!-- Divide trendingMovies array into chunks of 4 movies -->
      <ng-container *ngFor="let chunk of trendingMoviesChunks; let i = index">
        <div class="carousel-item " [class.active]="i === 0">
          <div class="row">
            <ng-container *ngFor="let tm of chunk">
              <div class="col-md-3 align-content-center justify-content-center">
                <div class="carousel-overlay">
                  <img class="d-block w-100" src="https://image.tmdb.org/t/p/w300{{tm.poster_path}}" alt="{{tm.title}}"
                       (mouseenter)="showOverview[i] = true" (mouseleave)="showOverview[i] = false">
                  <div class="carousel-caption" *ngIf="showOverview[i]">
                    <h5>{{ tm.title }}</h5>
                    <p>Release Date: {{ tm.release_date }}</p>
                    <p>{{ tm.overview }}</p>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#movieCarousel2" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#movieCarousel2" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <button class="dark-toggle btn btn-primary rounded-circle" (click)="toggleDarkMode()">
    <i class="fas" [ngClass]="{'fa-moon': isDarkMode, 'fa-sun': !isDarkMode}"></i>
  </button>
  </div>
